<div id="<%= dom_id equipment %>">
  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= equipment.equipment_type %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= equipment.admin_id %>
  </p>

</div>
