<div id="<%= dom_id swapper %>">
  <p>
    <strong>Name:</strong>
    <%= swapper.name %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= swapper.experience %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= swapper.admin_id %>
  </p>

</div>
