<div id="<%= dom_id trainer %>">
  <p>
    <strong>Name:</strong>
    <%= trainer.name %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= trainer.specialization %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= trainer.admin_id %>
  </p>

</div>
